html,
body {
    height: 100%;
    width: 100%;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 3px;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 219px;
    margin: 0;
    padding: 6px 38px;
    border-radius: 5px;
    border: 2px solid black;
}